/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* reset style start here */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* reset style ends here */

@font-face {
  font-family: norse;
  src: url(./font/Norse-Bold.otf);
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-image: url(./photos/janina-bachmann-NJ5fdBxFR4k-unsplash.jpg);
  background-size: auto;
}

.left-side {
  width: 35%;
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 65%;
  background-color: #CBF1F5;
}

.logo-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
  background-color: rgba(0, 0, 0, 0.4);
}

.logo-bar > img {
  width: 18%;
  margin: 0.5rem;
}

.logo-bar > h1 {
  color: azure;
  font-family: "norse";
  font-size: 4.5rem;
  margin: 0.5rem;
}
/* right panel */

.right-side > p {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  margin: 20px;
  padding: 7px;
  color: #3F72AF;
}

.right-side > p:first-child {
  margin: 140px 0 0 20px;
  margin-right: 10%;
}

.form-background {
  background-color: #E3FDFD;
}

.form-holder {
  color: #104b92;
  /* border-radius: 10px; */
}

.form-background > h1 {
  font-weight: 700;
  color: #104b92;
  margin: 16px 20px;
  font-size: 1.5rem;
}

.form-holder > form {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: 32px 20px 42px 20px;
  gap: 100px;
}

.left-form,
.right-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
}

.left-form div , .right-form div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-holder label {
  font-family: sans-serif;
  font-weight: 400;
}

.form-background input {
  width: min(16vw,310px);
  height: 26px;
  background-color: #f0fcffd3;
  border-radius: 7px;
  border: 2px solid #ccc;

}

button{
  max-width: 280px;
  background-color: #A6E3E9;
  border-radius: 7px;
  margin: 22px 20px 12px 20px;
  padding: 7px;
  font-size: 1.4rem;
  color: #3F72AF;
  border: 2px ;
}

button:active{
  border: 2px solid #3F72AF;
  margin-bottom: 8px;
}

.login-line{
  font-size: 1.2rem;
  margin: 22px 20px;
  color: #104b92;
}

.email > input:invalid{
  border: 2px solid red;
} 